@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body {
	font-family: 'Poppins', sans-serif;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    color: #212121;
	overflow: auto;
	-webkit-user-select: none;
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #666;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ipad-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #333;
}

.content {
	position: relative;
	display: block;
	float: left;
	width: 700px;
	height: 500px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
}

nav {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: 100px;
	padding: 0 5%;
	margin: 0;
	background: #ECF0F3;
}



.nav-return,
.nav-menu {
	position: relative;
	display: flex;
	float: left;
	width: 20%;
	height: auto;
	padding: 0;
	margin: 0;
}

.nav-return {
	align-items: center;
	justify-content: flex-start;
}

.nav-menu {
	align-items: center;
	justify-content: flex-end;
}

.action {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 22px;
	cursor: pointer;
}

.page-name {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 60%;
	height: auto;
	line-height: 20px;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

main {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: calc(100% - 100px);
	padding: 5%;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: initial;
    border-spacing: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ECF0F3;
    box-shadow: none;
}

th,
td {
	width: auto;
    vertical-align: middle;
    outline: none;
    padding: 12px 6px;
    border: 1px solid #ECF0F3;
    border-left-width: 0;
    border-bottom-width: 0;
}

th:last-child,
td:last-child {
	border-right-width: 0;
}

th {
	font-size: 14px;
	font-weight: 600;
}

th:nth-child(1),
th:nth-child(2),
th:nth-child(3) {
	width: auto;
}

td {
	color: #464E5F;
	font-size: 12px;
	font-weight: 400;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(3) {
	width: auto;
}

.switch {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	color: #212121;
	font-size: 22px;
	text-decoration: none;
}

.more {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	color: #212121;
	font-size: 22px;
	text-decoration: none;
}

.date {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	margin: 0;
	background: #ECF0F3;
	font-size: 12px;
	font-weight: 400;
	border: 0;
	border-radius: 5px;
}

.date:hover,
.date:focus,
.date:active {
	outline: 0;
}

.save {
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 0 16px;
	margin: 0;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	background: #239a7f;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
}

.save-pdi {
	background: #FFA800;
}

.save ion-icon {
	font-size: 16px;
}

.badge {
	position: relative;
	display: block;
	float: left;
	width: auto;
	padding: 4px 10px;
	margin: 0;
	color: #239a7f;
	font-size: 10px;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid #239a7f;
	text-transform: uppercase;
}

.actions {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 3% 0;
}

.actions-date {
	margin: 0 0 5% 0;
}

.actions-date .filter {
	width: calc(25% - 10px);
	margin: 0 10px 0 0;
}

.actions-date .search {
	width: 25%;
	margin: 0;
}

.actions-date .filter select,
.actions-date .search input {
	width: 100%;
}

.programe {
	position: relative;
	display: block;
	float: left;
	width: calc(25% - 10px);
	height: auto;
	padding: 0;
	margin: 0 10px 0 0;
}

.programe input {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin: 0;
    background: #ECF0F3;
    font-size: 12px;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
}

.programe input:hover,
.programe input:focus,
.programe input:active {
	outline: 0;
}

.look {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: calc(25% - 10px);
    height: 35px;
    line-height: 35px;
    padding: 0;
    margin: 0 10px 0 0;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #239a7f;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.title {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 5% 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.title ion-icon {
	font-size: 22px;
	margin: 0 10px 0 0;
}

.filter,
.search {
	position: relative;
	display: flex;
	float: left;
	width: 50%;
	height: auto;
	padding: 0;
	margin: 0;
}

.filter {
	align-items: center;
	justify-content: flex-start;
}

.search {
	align-items: center;
	justify-content: flex-end;
}

.filter select,
.search input {
    position: relative;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ECF0F3;
    border-radius: 5px;
}

.filter select:hover,
.filter select:focus,
.filter select:active,
.search input:hover,
.search input:focus,
.search input:active {
	outline: 0;
}

.filter select {
    width: auto;
    background: transparent;
}

.search input {
    width: 60%;
	background: #ECF0F3;
}

.box {
	background: #ECF0F3;
}

.extra {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.info {
	position: relative;
	display: block;
	float: left;
	width: 80%;
	height: auto;
	padding: 0;
	margin: 0;
}

.info table {
    width: 100%;
    border-collapse: initial;
    border-spacing: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: none;
}

.info th,
.info td {
	width: auto;
    vertical-align: middle;
    outline: none;
    padding: 6px 10px;
    font-size: 12px;
    border-left-width: 0;
    border-bottom-width: 0;
    text-align: center;
}

.info th:last-child,
.info td:last-child {
	border-right-width: 0;
}

.info th {
	background: #fff;
	font-weight: 600;
	border: 1px solid #ECF0F3;
}

.info td {
	border: 1px solid #fff;
	color: #464E5F;
	font-weight: 400;
}

.info-name {
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 3% 0;
	font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.selection {
	position: relative;
	display: flex;
	float: left;
	width: 50%;
	height: auto;
	padding: 0;
	margin: 0 0 3% 0;
}

.first-filter {
	align-items: center;
	justify-content: flex-start;
}

.second-filter {
	align-items: center;
	justify-content: flex-end;
}

.selection-name {
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 5px 0 0;
	text-align: right;
}

.selection select {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
}

.selection select:hover,
.selection select:focus,
.selection select:active {
	outline: 0;
}

.product-name {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline;
	text-transform: uppercase;
}

.product-description {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.product-color {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline;
	text-transform: uppercase;
}

.product-actions {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	color: #239a7f;
	font-size: 12px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: underline;
}

.product-table th:nth-child(1),
.product-table td:nth-child(1) {
	width: 30px !important;
	padding: 0;
}

.product-table th:nth-child(2),
.product-table td:nth-child(2) {
	width: 180px !important;
}

.product-table td:nth-child(3) {
	width: 80px !important;
}

.product-table td:nth-child(4) {
	width: 120px;
}

.product-table td:nth-child(5) {
	width: auto;
}

.product-table td:nth-child(6),
.product-table td:nth-child(7) {
	width: 50px;
}

.product-table td:nth-child(7) {
	cursor: pointer;
}

.product-table td .save {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 10px;
}

.product-input {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
	background: transparent;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ECF0F3;
    border-radius: 5px;
    text-align: center;
}

.product-input:hover,
.product-input:focus,
.product-input:hover {
	outline: 0;
}

.product-select {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 35px;
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
	background: transparent;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ECF0F3;
    border-radius: 5px;
}

.product-select:hover,
.product-select:focus,
.product-select:hover {
	outline: 0;
}

.company-select {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 35px;
	line-height: 30px;
	padding: 0 10px;
	margin: 0;
	background: transparent;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ECF0F3;
    border-radius: 5px;
}

.company-select:hover,
.company-select:focus,
.company-select:active {
	outline: 0;
}

.product-company {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: auto;
	height: auto;
	padding: 6px;
	margin: 0 auto;
	color: #239a7f;
	border: 1px solid #239a7f;
	border-radius: 5px;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.element-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.product-status {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.product-construct {
    color: #1BC5BD;
    background: #C9F7F5;
}

.product-waiting {
	color: #FFA800;
    background: #FFF4DE;
}

.product-complete {
    color: #212121;
    background: #D6D6E0;
}

.product-declined {
    color: #F64E60;
    background: #FFE2E5;
}

.product-more {
	background: #ECF0F3;
}

.product-info {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: );
	margin: 0;
	font-size: 16px;
}

.product-menu {
	width: 100% !important;
	padding: 12px 6px !important;
	background: #ECF0F3;
}

.pp-container {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 5% 0;
}

.pp-container:last-child {
	margin: 0;
}

.product-info-name {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 3% 0;
	font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.product-info-text {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 6px 0;
	font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.product-info-text:last-child {
	margin: 0;
}

.extra-info-text {
	text-transform: uppercase;
}

.product-result {
	cursor: pointer;
    color: #239a7f;
	font-weight: 600;
	text-decoration: underline;
}

.product-change {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 5% 0 0 0;
}

.change-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 120px;
	height: 35px;
	line-height: 35px;
	padding: 0;
	margin: 0 20px 0 0;
	color: #fff;
	background: #000;
	border-radius: 5px;
	cursor: pointer;
}

.change-button:hover,
.change-button:focus,
.change-button:active {
	outline: 0;
}

.change-button:last-child {
	margin: 0;
}

.change-button ion-icon {
	font-size: 18px;
	margin: 0 5px 0 0;
}

.change-pause {
	color: #F64E60;
    background: #FFE2E5;
    border: 1px solid #F64E60;
}

.change-complete {
	color: #212121;
    background: #D6D6E0;
    border: 1px solid #212121;
}

.change-play {
    color: #1BC5BD;
    background: #C9F7F5;
    border: 1px solid #1BC5BD;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgba(0,0,0,0.5);
}

.modal {
	position: relative;
	display: block;
	float: left;
	width: 60%;
	height: 80%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
    background: #fff;
    border-radius: 10px;
}

.modal-head {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 90%;
	height: auto;
	padding: 5% 0;
	margin: 0 5%;
	text-align: center;
}

.modal-name {
	position: relative;
	display: block;
	float: left;
	width: auto;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.modal-download,
.modal-close {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	width: auto;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 666;
}

.modal-download {
	left: 0;
}

.modal-close {
	right: 0;
}

.modal-icon-action {
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 22px;
	cursor: pointer;
}

.modal-body {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 10% 5%;
	margin: 0;
}

.question-container {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 5% 0;
}

.question-container:last-child {
	margin: 0;
}

.question-info {
	position: relative;
	display: block;
	float: left;
	width: 70%;
	height: auto;
	padding: 0;
	margin: 0;
}

.question-name {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 2% 0;
	font-size: 12px;
	font-weight: 600;
}

.question-description {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-weight: 400;
}

.modal-place {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 5% 0;
	font-size: 12px;
	font-weight: 600;
}

.place-result {
	color: #239a7f;
	font-weight: 700;
	text-decoration: underline;
}

.modal-comments {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.modal-comments textarea {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 10px;
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	border: 1px solid #ECF0F3;
    border-radius: 5px;
    background: transparent;
    resize: none;
}

.modal-comments textarea:hover,
.modal-comments textarea:focus,
.modal-comments textarea:active {
	outline: 0;
}

.modal-upload {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 5% 0 0 0;
	border: 1px solid #1BC5BD;
	overflow: hidden;
    border-radius: 5px;
}

.upload-path {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 60%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #1BC5BD;
	font-size: 12px;
	font-weight: 600;
}

.upload-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 40%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	color: #1BC5BD;
    background: #C9F7F5;
	cursor: pointer;
	border-radius: 5px;
	border-left: 1px solid #1BC5BD;
}

.modal-form-action {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 10% 0 0 0;
}

.modal-icons {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
}

.modal-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: auto;
	height: 35px;
	padding: 0;
	margin: 0 5px 0 0;
	font-size: 22px;
}

.modal-icon:last-child {
	margin: 0;
}

.modal-save {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 40%;
	height: 35px;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	border-radius: 5px;
    background: #239a7f;
    cursor: pointer;
}

.question-switch {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 30%;
	height: 30px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 10px;
    background: #ECF0F3;
}

.switch-option {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 50%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	text-transform: uppercase;
}

.option-selected {
	color: #fff;
	background: #239a7f;
}

.change-break {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 5% 0 0 0;
}

.break-name {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 3% 0;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.break-action {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	overflow: hidden;
	border-radius: 5px;
    border: 1px solid #464E5F;
}

.action-option {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	height: auto;
	padding: 0;
	margin: 0;
	cursor: pointer;
	border-right: 1px solid #464E5F;
}

.action-option:last-child {
	border-right: 0;
}

.action-option-name {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
	border-bottom: 1px solid #464E5F;
}

.action-option-name ion-icon {
	font-size: 22px;
	margin: 0 5px 0 0;
}

.action-option-time {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: 35px;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

.action-option-selected {
	background: #239a7f;
}

.action-option-selected .action-option-name {
	color: #fff;
}

.action-option-selected .action-option-time {
	background: #fff;
}

.confirm-waiting {
	color: #FFA800;
    background: #FFF4DE;
}

.break-selected {
	position: relative;
	display: block;
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
}

.selected-arrow {
	position: relative;
	display: block;
	float: left;
	width: 25%;
	height: auto;
	padding: 0;
	margin: 0 50% 0 25%;
}

.arrow-icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float; left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 0 2% 0;
	font-size: 22px;
	color: #1BC5BD;
}

.arrow-name {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	width: 100%;
	height: auto;
	padding: 4px 0;
	margin: 0;
	font-size: 10px;
	font-weight: 700;
	color: #1BC5BD;
    background: #C9F7F5;
    border: 1px solid #1BC5BD;
    text-transform: uppercase;
}